servername=localhost
username=
password=
dbname=inte
sendemailhandler=https://
destinyemail=
reporturl=https://
reportdetailsurl=https:/
reportalldata=https:/
bitrixwebhook=https
merchantip=
bitrixkey=ei
merchantaccesstoken=eyJ
merchanturl=https:
sendtoemail=a
emailfrom=i
namefrom=
mailUsername=
mailPassword=
app_id=local.5
app_secret=Y8
app_redirect_url=https
bitrix_domain=crm
redirectlocation=https:/
member_id=95
application_token=ffa
integrationrediredurl=https
smshandler=https:
callhandler=https:
integrationdomain=i
pbx_domains_url_info=server.com/main_names_api_sg.php
pbx_domains_url_info_key=123456
ZONE_IDENTIFIER=88
DOMAIN_NAME=teczz.com
API_URL=https://api.cloudflare.com/client/v4/
API_ENDPOINT=zones/88/dns_records/
AUTH_KEY=fc
AUTH_EMAIL=user@pc.com
ALLOWED_HOSTS=127.0.0.1,1.1.1.1
